@import url("./colors.css");

* {
    border: none;
    border-radius: 0;
    font-family: Iosevka;
    font-size: 10pt;
    min-height: 0;
}

window#waybar {
    opacity: 1.0;
    background: @background-darker;
    color: @foreground;
    border-bottom: 2px solid @background;
}

#workspaces button {
    padding: 0 5px;
    background: @background;
    color: @foreground;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @selection;
}

#workspaces button.active {
    color: @background;
    background: @purple;
}

#workspaces button.urgent {
    background: @red;
}

#taskbar button.active {
    background-image: linear-gradient(0deg, @selection, @background-darker);
}

#clock {
    padding: 0 4px;
    background: @background-darker;
}
